body{
	overflow-x:hidden;	background-image:url(images/bg1.jpeg);background-repeat:no-repeat;
	background-attachment:fixed;background-size:cover;opacity:1.5;
}
.nav1{padding:15px 15px 0px 15px;border-bottom:3px solid #ff006a63;}
.lnks a{
	margin:10px;font-size:15px;text-decoration:none;
	color:green;opacity:0.4px;
}
.lnks #li1:hover{
	background-color:#ff006a63;opacity:0.5;padding:23px 5px 23px 5px;
}
.lnks input[type="search"]{
	border:2px solid #987102;border-radius:7px;padding:10px;width:130px;
	background-color:#eee;
}
.nav2{border-bottom:3px solid #ff006a63;}
.nav2 p{font-size:15px;font-family:bold}
.nav2 .im1{width:350px;height:90px;margin-left:70px;margin-top:10px;}
.nav2 .im2, .im3{width:70px;height:70px;margin-left:130px;margin-top:10px;}
.nav2 .im2{margin-left:130px;}
.nav2 .im3{margin-left:50px;}
.nav2 .im4, .im5, .im6{width:70px;height:70px;margin-top:10px;}

.Comcarousel{margin-left:90px;}
.Comcarousel .act1{
	background-color:#ff006a63;width:300px;height:50px;
	border-right:2px solid whilt;border-right:2px solid white
}
.Comcarousel .act1:hover{opacity:0.7;}
.act1 #a1{
	margin-left:15px;font-size:25px;text-decoration:none;color:white;
}
.act1 .btn{float:right;margin-top:7px;text-decoration:underline;}
.carousel-inner .ite2{width:100%;max-height:450px;}
.carousel-caption{margin-bottom:150px;}
.carousel-caption .int{width:200px;height:90px;}
.carousel-caption .lead{font-style:italic;color:#f3f3f3;}
.Comcarousel1{background-color:#ff006a63;}
.Comcarousel1 .act2 a img{
	width:100px;height:50px;margin-top:10px;
}
.Comcarousel1 .act2 p{font-size:25px;margin-left:10px;margin-top:8px;color:#00AAf88}
.Comcarousel1 .act0{border-right:2px solid white;}
.Comcarousel1 .act2:hover{background-color:#ff006a63;opacity:0.5;}

.carouSlid{margin-top:35px;margin-bottom:35px;}
.carouSlid .itte{width:200px;height:90px;margin-bottom:20px;margin-top:25px;}
.carouSlid #Ch1{text-align:justify;font-size:15px;color:#ebe6e6;}
.carouSlid .item .btn{margin-top:20px;}

.EndFooter{margin-left:80px;margin-top:25px;color:white;}
.EndFooter .h1{color:orange;font-size:20px;}
.EndFooter .med1 ol{font-size:15px;line-height:2;}
.EndFooter .med1 ol>li:hover{color:gray;cursor:pointer;}
.EndFooter .med2{margin-top:15px;}
.EndFooter .chanImg img{width:30px;height:30px;}
.CopyRi .mediachan{background-color:#ff006a63;margin-top:35px;}
.CopyRi .mediachan .h1{font-size:15px;color:white;float:right;margin-right:100px;}
/*#################################################################*/
/*Star With Style About Us*/
.org{margin-top:10px;margin-bottom:30px;}
.org .orgInner img{width:100%;max-height:300px;background-size:cover;}
.org .orgInner h1{margin-left:200px;}
.aboutUs .TheFirst .he1{
	border:2px solid white;border-radius:7px;background:#100b03;
	text-indent:10px;color:#eee;font-size:20px;
}
.aboutUs{margin-bottom:25px;}
.aboutUs .TheFirst p{
	background:#445044;margin:0;text-indent:10px;border-bottom:2px solid #987102;
	padding:8px;color:white;
}
.aboutUs .TheFirst p:hover{	opacity:0.5;}
.aboutUs .Answer{
	text-align:justify;text-indent:20px;font-size:15px;font-style:oblique;font-size:26px;color:#dddde5;
	font-family:font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
/*#################################################################*/
/*Star With Style Careers Us*/
.Careers .con .h1{
	background:#ff006a63;margin-top:0;padding:10px;color:lightblue;font-family:tahoma;
}
.Careers .me{border:2px solid orange;width:253px;margin-bottom:30px;margin-top:30px;margin-left:50px;border-radius:10px;}
.Careers .me .i1{width:250px;height:250px;border:2px solid #ff006a63;}
.Careers .me .p1{margin-left:60px;font-size:20px;color:white;}
.Careers .me .btn{
	background:orange;margin-left:70px;margin-bottom:20px;margin-top:30px;width:100px;
	color:white;font-family:tahoma;font-size:15px;border-radius:10px;padding:10px;
}
.const{margin-bottom:30px;border:2px solid orange;width:1000px;margin-left:150px;}
.const .bor1 .h1{
	font-size:20px;text-align:center;border-bottom:2px solid orange;width:970px;
	margin-bottom:20px;color:#f8fffdf7;
}
.const .bor2, .bor3 label{margin-left:50px;margin-bottom:50px;color:#f8fffdf7}
.const .bor2 input, .bor3 input{
	margin-left:120px;border:2px solid orange;border-radius:10px;width:400px;padding:10px;
	COLOR:BLACK;font-size:20px;font-style:italic;
}
.const .bor3 input{margin-left:70px;}
.const .bor4 a{font-size:25px;text-decoration:underline;color:orange;}
.const .bor4 {margin-bottom:40px;margin-left:30px}
.const .bor5  .end1{background:orange;color:white;}
.const .bor5 .end1,.end2{margin-bottom:30px;width:150px;padding:10px;border-radius:10px;margin-left:410px;}
.const .bor5 .end2:hover{background:orange;opacity:0.6;}
/*#################################################################*/
/*Star With Style Contact Us*/
.contactus h2{color:#b92929;}
.contactus p{color:#b92929;font-size:20px;}
.contactus .h1{
	background:#56056487;color:#ffffff;margin-top:0;
	padding:8px;font-family:tahoma;
}
.contactus div .con1{
	border-bottom:2px solid black;width:1000px;margin-top:5px;
	margin-bottom:40px;
}
.Contact .opt1, .opt2{
	border:2px solid orange;border-radius:10px;padding:7px;
	margin-bottom:30px;width:400px;color:#aaa;
}
.Contact .opt2{margin-right:10px;}
.Contact .textare{
	border:2px solid orange;border-radius:10px;padding:15px;
	text-indent:10px;height:100px;width:850px;margin-bottom:25px;color:#aaa;
	font-size:20px;
}
.Contact .btn{
	background:orange;border-radius:10px;width:150px;margin-left:50px;
}
.Contact .btn:hover{margin-left:70px;opacity:0.8;}